*{
  font-family: Arial;
}
body{
  padding: 40px;
  background-color: rgb(226, 239, 253);
}
input{
  width:100%;
  font-size:1.2em;
  color:rgb(71, 71, 71);
}

div.card {
  align-content: center;
  overflow:hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  object-fit: cover;

}
img{
  border-radius: 20px;
  border: 3px solid rgb(138, 124, 124)
}
.card p{
  text-align: center;
  padding: 5px;
}
.card img{
  max-height:170px;
  cursor: pointer;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul{
  padding: 0px;
}
#search{
  margin-left: 20px;
}